<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bidding.example.com.bidding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppControler"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cricket_Game.Match_details"
            android:label="@string/title_activity_match_details"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Chart.MainActivity"
            android:label="@string/title_activity_table_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service android:name=".timeService" />
        <service android:name=".UpdateService" />

        <activity
            android:name=".LandingScreen"
            android:label="@string/title_activity_landing_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResultChart.result_chart"
            android:label="@string/title_activity_result_chart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TansactionWiseHistory"
            android:label="@string/title_activity_tansaction_wise_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Notification_Activity"
            android:label=""
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MainPage"
            android:label="@string/title_activity_main_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlayDetails"
            android:label="@string/title_activity_play_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MoreGames"
            android:label="@string/title_activity_more_games"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
